header{
    width: 1200px;
    height: 600px;
}
p{
    text-align: center;
    text-decoration: overline;
    text-transform: uppercase;
    font-size: medium;
}


.inicio{
    background-color: black;
    width: 100%;
    height: 20px;
}
.capa1{
    position: relative;
    display: flex;

    background-color: black;
    width: 50%;
    height: 600px;
    align-content: stretch;
    align-items:flex-end;
    justify-content:center ;
    flex-direction: column-reverse;
}
.capa2{
    width: 50%;

}
.diseño{
    background-color: rgb(21, 31, 31);
    position: absolute;
    width: 100%;


}
.foto{
    position: absolute;
    top: 200px;
    left: 24px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    border-color: antiquewhite;
}
.caja{
    position: relative;
    margin-top: 53px;
    top: -76px;
    background-color: rgb(235, 235, 235);
    width: 298px;
    height: 50px;
    border-radius: 55px 0px 51px 0px;
    
}

.caja:hover{
    background-color: rgb(211, 158, 23);
}



